@model IEnumerable<FindUniversity.EducationalProg>

@{
    ViewData["Title"] = "Освітні програми спеціальності";
}

    <h1>Освітні програми спеціальності @ViewBag.SpecialtiesName</h1>

<p>
    <button type="button" class="btn btn-primary">@Html.ActionLink("Додати нову освітню програму", "Create", new { specialtiesId=@ViewBag.SpecialtiesId})</button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialties)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialties.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-specialtiesId="@ViewBag.SpecialtiesId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-specialtiesId="@ViewBag.SpecialtiesId">Детальніше про освітню програму</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-specialtiesId="@ViewBag.SpecialtiesId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
