@model FindUniversity.FacultyEducationalProg

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h3>Ви впевнені що хочете прибрати освітню програму з факультету?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalProg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationalProg.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" value="@ViewBag.FacultyId" name="FacultyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@ViewBag.FacultyId">Назад</a>
    </form>
</div>
