@model FindUniversity.FacultyEducationalProg

@{
    ViewData["Title"] = "Details";
}

<h1>Детальніше про освітню програму @ViewBag.EducationalProgName</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalProg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationalProg.Name)
        </dd>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.EducationalProg.Specialties)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EducationalProg.Specialties.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="Index">Назад</a>
</div>
