@model FindUniversity.Specialties

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалення</h1>

<h4>Ви впевнені що ви хочете видалити цю спеціальність?</h4>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
    </dl>

    <form asp-action="Delete">

        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
    @if (ViewBag.ErrorMes != null)
    {
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Неможливо видалити!</strong> @ViewBag.ErrorMes
</div>
    }
</div>
