@model IEnumerable<FindUniversity.Specialties>

@{
    ViewData["Title"] = "Index";
}

<h1>Спеціальності</h1>

<p>
    <a button type="button" class="btn btn-primary" asp-action="Create">Додати спеціальність</a>
</p>

<div>
    <h3>Оберіть exel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Specialties", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
       
<div>
    Завантажте Excel-файл:
    <input type="file" name="fileExcel" id="fileExcel" />
    <div>
        <input type="submit" value="Завантажити" />
    </div>
    @if (ViewBag.ErrorMes != null)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@ViewBag.ErrorMes</strong> Виправте файл та спробуйте знову
        </div>
    }
</div>

    }
    
</div>


<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export">Завантажити</a>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Info)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Освітні програми</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart3" style="width:100%; height:auto"></div>
</div>

@section scripts{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { 'packages': ['corechart'] });
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/api/ChartSpecialty/JsonData', function (jsonData) {
                data = google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Співвідношення освітніх програм на спеціальностях",
                    width: 500,
                    height: 400
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart3'));
                chart.draw(data, option);
            })
        }
    </script>

}
